
<div class="container" style="max-width: 400px; margin: auto;">
<div class="row">
  <div class="column">
    <%= file_field_tag 'imagem_capa', style: "display: none", accept: "image/*", id: "input-imagem-capa", :required => !(defined? livro and livro != nil) %>
    <img id="img-placeholder" class="ui fluid image" src="/public<%= atributo_ou_string_vazia(livro, :url_capa) %>">
  </div>
<br>
<label for="input-imagem-capa" class="fluid ui button">
  <% if livro %>
    Trocar imagem
  <% else %>
    Adicionar imagem
  <% end %>
</label>
<br>
</div>
</div>

<div class="three fields">
  <div class="field">    
    <label>Titulo</label>
    <%= text_field_tag 'livro[titulo]', atributo_ou_string_vazia(livro, :titulo), required: true %>
  </div>
  <div class="field">
    <label>Editora</label>
    <%= text_field_tag 'livro[editora]', atributo_ou_string_vazia(livro, :editora), required: true %>
  </div>
  <div class="field">
    <label>Data publicação</label>
    <%= date_field("livro", "data_publicacao", value: atributo_data_ou_string_vazia(livro, :data_publicacao), required: true) %>
  </div>
</div>



<div class="two fields">
<div class="field">
  <label>Categorias</label>
  <select multiple="" value="<%= atributo_ou_string_vazia(livro, :generos) %>" class="ui dropdown" name="livro[generos][]" required>
    <% @categorias.each do |categoria| %>

      <% if livro[:generos].any?{ |e| e[:nome] == categoria } %>
        <option selected value="<%= categoria %>"> <%= categoria.sub("-"," ").capitalize %> </option>
      <% else %>
        <option value="<%= categoria %>"> <%= categoria.sub("-"," ").capitalize %> </option>
      <% end %>

    <% end %>
  </select>
</div>

<div class="field">
  <label>
    PDF:
    <% if livro %>
      <% if livro[:url_pdf] %>
        <a href="/public<%= livro[:url_pdf] %>">Clique para ver o pdf cadastrado</a>
      <% end %>
    <% end %>
  </label>
  <%= file_field_tag :pdf, style: "padding: 7px", accept: "application/pdf", required: !(defined? livro and livro != nil)   %>
</div>

</div>

<div class="field">
  <label>Descrição</label>
  <textarea name="livro[descricao]" required ><%= atributo_ou_string_vazia(livro, :descricao) %></textarea>
</div>


<% content_for :javascript do %>
  <script>
    (function(){

      function lerImagem(event){
        let fileList = event.target.files;
        let reader = new FileReader();
        reader.onload = (ev) => {
          render(ev.target['result'])
        }
        reader.readAsDataURL(fileList[0]);
      }

      function render(img){
        $("#img-placeholder").attr('src',img);
      }

      $("#input-imagem-capa").on('change',lerImagem);

    })($)
  </script>
<% end %>