
<%= render "/admin/partials/navbar" %>

<div class="ui container">

  <table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
        <th>PDF</th>
        <th>Editora</th>
        <th>Ultima atualização</th>
        <th>Avaliação</th>
      </tr>
    </thead>
    <tbody>
      <% if @livros.length == 0 %>
        <tr>
          <td></td>
          <td colspan="5"><div class="ui yellow message">Nenhum livro cadastrado</div></td>
        </tr>
      <% else %>
        <% @livros.each do | livro | %>
          <tr>
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td><%= livro.titulo %></td>
            <td><a href="/public<%= livro.url_pdf %>" target="_blank" >clique para visualizar</a></td>
            <td><%= livro.editora %></td>
            <td><%= livro.updated_at %></td>
            <td>
              <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
            </td>
          </tr>
        <% end %>
      <% end %>
      
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="5">
          <button id="btn-cadastrar-livro" class="ui right floated small primary labeled icon button">
            <i class="user icon"></i> Cadastrar livro
          </button>
          <div class="ui small button">
            Deletar
          </div>
          <div class="ui small  disabled button">
            Deletar Todos
          </div>
        </th>
      </tr>
    </tfoot>
  </table>

</div>

<%= render "form_modal"%>

<% content_for :javascript do %>
  <script>

		$('.rating').rating('disable');
 
    $("#btn-cadastrar-livro").on('click',function(e){
      $('#formulario-modal-cadastro-livros.ui.modal').modal('show');
    });
  
  </script>
<% end %>