<%= render "usuario/partials/menus" %>


<div id="main" class="ui container ">
  <!--UI GRID-->
  <div class="ui grid">
    <!--CONTAINER COM DETALHES DO LIVRO E COMENTÁRIOS-->
    <div class="sixteen wide mobile sixteen wide tablet eleven wide computer column">
      <!--CONTAINER COM DETALHES DO LIVRO-->
      <div class="ui segment detalhe livro" style="margin-top: 60px">
        <div class="ui grid">

          <div class="sixteen wide mobile six wide tablet six wide computer column">
            <img class="ui image capa livro grande" src="/public<%= @livro[:url_capa] %>">
          </div>

          <div class="sixteen wide mobile ten wide tablet ten wide computer column">
            <h1><%= @livro[:titulo]  %></h1>
            <div class="ui horizontal link list">
              <p class="item">
                Autor: Benjamin J EvansDavid Flanagan
              </p>
              <a class="item">
                Paginas: <%= @paginas %>
              </a>
            </div>
            <div class="ui horizontal link list">
              <p class="item">
                Editora: <%= @livro[:editora] %>
              </p>
              <a class="item">
                Data publicação: <%= @livro[:data_publicacao].strftime("%m/%d/%Y") %>
              </a>
            </div>
            <div class="ui horizontal link list">
              <p class="item">
                Categorias:
              </p>
              <a class="item">
                <% @livro[:generos].each do | genero |%>
                  <div class="ui tag label"><%= genero[:nome] %></div>
                <% end %>
              </a>
            </div>
            <div>
              <div class="ui rating" data-max-rating="5"></div>
            </div>

            <div class="ui hidden divider"></div>

            <div class="ui horizontal list">
              <div class="item">
                <a href="#" class="ui medio secondary button">Ler mais tarde</a>
              </div>
              <div class="item">
                <a href="/dashboard/livros/<%= @livro[:_id] %>/ler"
                   class="ui medio secondary button"
                >Ler agora</a>
              </div>
            </div>

          </div>
        </div>
        <!--FIM DETALHES LIVRO-->

        <!--DESCRIÇÃO LIVRO-->
        <div class="ui grid">
          <div class="sixteen wide">
            <p>
              <%= @livro[:descricao] %>
            </p>
          </div>
        </div>
        <!--FIM DESCRIÇÃO LIVROS-->

        <!--INICIO GRID COMENTÁRIOS-->
        <div class="ui grid">

          <div class="row">
            <div class="left floated ten wide column">
              <h2>Comentários</h2>
            </div>
            <div class="right floated six wide column">
              <button class="medium fluid ui secondary button">Comentar</button>
            </div>
          </div>

          <!--ROW COMENTÁRIOS-->
          <div class="row">
            <!--COLUNA COMENTÁRIOS-->
            <div class="sixteen wide column">
              <div class="ui comments">


                <div class="comment">
                  <a class="avatar">
                    <img src="./img/elliot.jpg">
                  </a>
                  <div class="content">
                    <a class="author">Stevie Feliciano</a>
                    <div class="metadata">
                      <div class="date">2 days ago</div>
                      <div class="rating">
                        <i class="star icon"></i>
                        5 Faves
                      </div>
                    </div>
                    <div class="text">
                      Hey guys, I hope this example comment is helping you read this documentation.
                    </div>
                  </div>
                </div>

                

              </div>
              <!--FIM COMENTÁRIOS-->
            </div>
            <!--FIM COLUNA COMENTÁRIOS-->
          </div>
          <!--FIM ROW COMENTÁRIOS-->
        </div>
        <!--FIM GRID COMENTÁRIOS-->
      </div>
    </div>

    <!--OUTROS LIVROS DO AUTOR-->
    <div class="sixteen wide mobile sixteen wide tablet five wide computer column" style="margin-top: 90px;">
      <h2>Outros livros</h2>
      <div class="ui items">
        <%  @outrosLivros.each do |livro| %>
        <div class="item bordered">
          <div class="image">
            <img src="/public<%= livro[:url_capa] %>">
          </div>
          <div class="content">
            <a href="/dashboard/livros/<%= livro[:_id] %>"  class="header"><%= livro[:titulo] %></a>
            <div class="meta">
              <span><%= livro[:descricao].slice(1..200) %>...</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <div class="extra">
              <div class="ui rating" data-max-rating="5"></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
  <!--UI GRID-->


</div>
<!--CONTAINER COM O CONTEUDO DO SITE-->
