<div>
  <img class="ui small centered image" src="<%= image_path("logo.png") %>" width="206" height="455">
</div>

<!-- Inicia o container de cadastro-->
<div class="ui centered card">
  <div class="content">
    <div class="ui center aligned header">Cadastro</div>
    <div class="meta">
      <div class="field">

        <div class="center aligned description">
          <p>Cadastre-se para começar a ter acesso ao Elivros</p>
        </div>
        <%= form_for @usuario, html: {class: "ui form"} do |u| %>

          <div class="field">
            <%= u.label(:nome, "Nome:") %>
            <%= u.text_field(:nome) %>
          </div>

          <div class="field">
            <%= u.label(:sobrenome, "Sobrenome:") %>
            <%= u.text_field(:sobrenome) %>
          </div>

          <div class="field">
            <%= u.label(:email, "Email:") %>
            <%= u.text_field(:email) %>
          </div>

          <div class="field">
            <%= u.label(:senha, "Senha:") %>
            <%= u.password_field(:senha) %>
          </div>

          <div class="field">
            <%= submit_tag("Cadastrar", :class => "ui fluid primary button")%>
          </div>

        <%end%>

        <!--&lt;!&ndash; Finaliza o container de cadastro&ndash;&gt;-->
        <!--<form class="ui form">-->
          <!--<div class="field">-->
            <!--<div class="ui checkbox">-->
              <!--<input type="checkbox" name="example">-->
              <!--<label> Li e Concordo com os-->
                <!--<a class="header">Termos e condições</a>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->


          <!--<a href="/dashboard" class="ui secondary button">Cadastrar</a>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</div>


<center> Já tem uma conta?
  <a href="/"> Entrar</a>
</center>