<div>
  <img class="ui small centered image" src="<%= image_path("logo.png") %>">
</div>


<div class="ui centered card">
  <div class="content">
    <div class="ui center aligned header">Login</div>
    <div class="meta">
      <div class="field">

        <div class="center aligned description">
          <p>Bem Vindo!</p>
        </div>

        <div class="center aligned description">
          <p>Por favor, digite seu E-mail e senha.</p>
        </div>
        
        <br>

        <%= form_tag({controller: "session", action: "create_session"}, method: "post", class: "ui form") do %>

          <div class="field">
            <%= text_field_tag 'email', nil,placeholder: 'Email', required: true %>
          </div>

          <div class="field">

            <%= text_field_tag 'senha',nil, placeholder: 'Senha', required: true %>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">

            </div>

          </div>

          <%= submit_tag("Entrar", :class => "ui fluid primary button")%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<center> Não tem uma conta?
  <a href="/usuarios/new"> Cadastrar-se</a>
</center>