<!DOCTYPE html>
<html>
  <head>
    <title>E-Livros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
  </head>

  <body>
  <!--Flash messages exibidas no top da pagina-->
  <% flash.each do |name, msg| %>
    <div class="ui <%= name %> message top">
      <i class="close icon"></i>
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
  <script>
    (function(){
      $('.ui.dropdown').dropdown();
      
      $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade');
      });

    })($);
  </script>
  <%= yield :javascript %>

  
</html>
