<!DOCTYPE html>
<html>
  <head>
    <title>E-Livros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    (function(){
      $('.ui.dropdown').dropdown();
    })($);
  </script>
  <%= yield :javascript %>


</html>
